/*
Dylan Xu, Mx. Martin, M545c, Due 14 December 2020
Final Project
A "competitive clicking" website where users make accounts to keep track of their total clicks,
can interact with the clicking page and can view other players' total clicks
*/

body
{
	width: 1200px;
	margin: auto;
	padding: 10px;
	font-family: Verdana;
	background-color: #ffff66;
}

#powerups-board
{
	width: 50%;
	border: 1px solid black;
}

.header
{
	text-align: center;
	font-family: Courier;
}

.sub-header
{
	text-align: center;
	font-family: Courier;
}

.button
{
	font-family: Helvetica;
}

.center
{
	margin: auto;
	padding: 15px;
	padding-top: 5px;
	width: 20%;
	border: 3px solid blue;
}

.error
{
	color: red;
}