#greenCardDisplay
{
    color: black
}

#chosenCards, #winner
{
    color: black /* contrasts with green or red card background */
}

.hand-head
{
	color: black
}
.hand-body
{
	color: black
}
.alt-hand-body
{
	color: white
}

.bg-red
{
	background-color: #fbdd82
}
.bg-green
{
	background-color: #fc8674
}

body
{
	width: 95%;
	margin: auto;
	padding: 10px;
	font-family: Verdana;
	background-color: #ffff66;
	font-size: 14px;
}

.header
{
	text-align: center;
	font-family: Courier;
}

.sub-header
{
	text-align: center;
	font-family: Courier;
}

.button
{
	font-family: Helvetica;
}

.center
{
	margin: auto;
	padding: 15px;
	padding-top: 5px;
	width: 20%;
	/* border: 3px solid blue; */
}

.error
{
	color: red;
}

.usertable
{
	width: 30%;
	font-size: 14px;
	border: 2px solid yellowgreen;
}

/* Original "inspiration" code from user:Faheel at 
https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns*/
@media (min-width: 24em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.collapse.show {
	visibility: visible;
}