#greenCard, #remindGreenCard
{
    color: black
}

#hand
{
    color: black /* contrasts against green or red card background */
}

body
{
	width: 95%;
	margin: auto;
	padding: 10px;
	font-family: Verdana;
	background-color: #ffff66;
	font-size: 14px;
}

.header
{
	text-align: center;
	font-family: Helvetica;
}

.sub-header
{
	text-align: center;
	font-family: Helvetica;
}

.button
{
	font-family: Helvetica;
}

.center
{
	margin: auto;
	padding: 15px;
	padding-top: 5px;
	width: 20%;
	border: 3px solid blue;
}

.error
{
	color: red;
}